main {
  padding-top: 103px;
}

.hero {
  background-image: url(../../assets/images/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 626px;
}

.hero-all {
  display: flex;
  align-items: center;
  height: 100%;
}

.hero-all h1 {
  color: white;
  font-size: 60px;
  max-width: 500px;
}

.hero-banner {
  position: relative;
}

.hero-banner-wrapper {
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -130px;
  left: 0;
  right: 0;
  gap: 10px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.hero-banner-card {
  max-width: 400px;
  padding: 15px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.hero-banner-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-banner-card-top h2 {
  color: #223263;
  font-size: 20px;
  max-width: 165px;
}

.hero-banner-card-top h1 {
  color: #40bfff;
}

.hero-banner-card-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.hero-banner-card-bottom p {
  color: grey;
  text-decoration: line-through;
}

.hero-banner-card-bottom h4 {
  color: #fb7181;
}

.adidas-banner {
  background-color: #40bfff;
  height: 450px;
}

.adidas-banner-all {
  display: flex;
  align-items: center;
  height: 100%;
}

.adidas-banner-left {
  width: 50%;
  color: white;
}

.adidas-banner-left h1 {
  font-size: 50px;
  font-weight: 400;
  padding-bottom: 10px;
}

.adidas-banner-left p {
  font-size: 20px;
  padding-bottom: 20px;
}

.adidas-banner-left button {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  padding-bottom: 3px;
  cursor: pointer;
}

.adidas-banner-right {
  position: relative;
  width: 50%;
}

.adidas-banner-right img {
  max-width: 630px;
  position: absolute;
  top: -297px;
  width: 100%;
}

.support-banner {
  padding-top: 80px;
}

.support-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.support-card {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.support-card img {
  width: 100px;
  height: 100px;
}

.support-card h1 {
  font-size: 20px;
  padding-top: 10px;
}

.support-card p {
  max-width: 200px;
  text-align: center;
  padding-top: 5px;
}

.latest {
  padding-top: 130px;
}

.latest-all h1 {
  text-align: center;
}

.latest-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
}

.latest-card {
  display: flex;
  align-items: center;
  gap: 5px;
}

.latest-card-info {
  display: flex;
  flex-direction: column;
}

.latest-card-info p {
  color: grey;
}

.latest-card-info h1 {
  text-align: start;
}

.featured {
  padding-top: 120px;
}

.featured-top h1 {
  text-align: center;
  padding-bottom: 30px;
}

.featured-card-img {
  height: 100%;
}

.featured-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.featured-card {
  display: flex;
  align-items: center;
  gap: 20px;
}

.featured-card-info p {
  font-size: 20px;
  max-width: 200px;
  padding-bottom: 10px;
}

.featured-card-price {
  display: flex;
  align-items: center;
  gap: 5px;
}

.featured-card-price h3 {
  color: #fb7181;
}

.featured-card-price p {
  color: grey;
  font-size: 17px;
  text-decoration: line-through;
  padding: 0;
}

.featured-input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 60px;
}

.featured-input input {
  padding: 15px;
  width: 100%;
  max-width: 535px;
  border: 2px solid #40bfff;
  border-radius: 5px 0 0 5px;
}

.featured-input button {
  background-color: #40bfff;
  padding: 13px 20px;
  border: 2px solid #40bfff;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.cards {
  padding-top: 220px;
  padding-bottom: 80px;
}

.card-top {
  text-align: center;
}

.card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  list-style: none;
}

.card-list li {
  font-size: 25px;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 970px) {
  .latest-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 940px) {
  .card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 870px) {
  .featured-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 790px) {
  .hero-banner-wrapper {
    position: relative;
    top: 0;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 30px;
  }
  .cards {
    padding-top: 50px;
  }
}

@media (max-width: 714px) {
  .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 630px) {
  .latest-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .latest-card {
    border: 1px solid rgb(230, 230, 230);
    padding: 10px;
  }
  .latest-card-img {
    width: 50%;
  }
  .latest-card-img img {
    width: 150px;
  }
}

@media (max-width: 590px) {
  .featured-wrapper {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
